<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="{{ url_for('static', filename='js/require.min.js') }}"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Search
                    </h1>
                    <div class="page-subtitle">1 - 12 of 1713 photos</div>
                    <div class="page-options d-flex">
                        <select class="form-control custom-select w-auto">
                            <option value="asc">Newest</option>
                            <option value="desc">Oldest</option>
                        </select>
                        <div class="input-icon ml-2">
                  <span class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </span>
                            <input type="text" class="form-control w-10" placeholder="Search photo">
                        </div>
                    </div>
                </div>
                <div class="row row-cards">
                    {% for img in  images %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="card p-3">
                                <a href="{{ img }}" class="mb-3">
                                    <img src="{{ img }}" class="rounded">
                                </a>
                                <div class="d-flex align-items-center px-2">
                                    <div class="ml-auto text-muted">
                                        <input type="checkbox" value="option1" checked=""> download
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>